{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
    <p>
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
    </p>
    <h1>Tasks</h1>
    <a href="{{ path('task_new') }}">New Task</a>
    {{ component("TaskDisplay") }}
{% endblock %}
